<a
	{{#if href}}
		href={{href}}
	{{/if}}
	{{#if id}}
	id={{id}}
	{{/if}}
	class='flex items-center p-3 text-xs font-bold text-orange-400 border-solid border border-orange-400 rounded-lg hover:bg-slate-800/50 group hover:shadow cursor-pointer'
>
	{{#if svg}}
		{{{svg}}}
		<span class='flex-1 whitespace-nowrap ml-3'>{{title}}</span>
	{{else}}
		<span class='flex-1 whitespace-nowrap'>{{title}}</span>
	{{/if}}
</a>