<a
	href={{href}}
	class='flex items-center p-3 w-fit text-base font-bold text-orange-400 border-solid border border-orange-400 rounded-lg hover:bg-slate-800/50 group hover:shado'
>
	{{#if svg}}
		{{#if svg_class}}
			{{> (lookup . 'svg') class=svg_class}}
		{{else}}
			{{> (lookup . 'svg')}}
		{{/if}}
		<span class='flex-1 whitespace-nowrap ml-3'>{{title}}</span>
	{{else}}
		<span class='flex-1 whitespace-nowrap'>{{title}}</span>
	{{/if}}
</a>