<h1>FICHE DE POSTE</h1>

<form action="/ficheposte/create" method="post">
	<label for='fichePoste_label'>Intitulé du poste</label>
	<input type='text' id='fichePoste_label' name='fichePoste_label' required />
    </br>

	<label for='fichePoste_type'>Type d'emploi</label>
	<select name='fichePoste_type' id='fichePoste_type'>
		<option value='prestation'>Prestation</option>
		<option value='cdi'>CDI</option>
		<option value='cdd'>CDD</option>
		<option value='alternance'>Alternance</option>
		<option value='stage'>Stage</option>
	</select>
	</br>

	<label for="fichePoste_experience">Experience</label>
	<textarea id="fichePoste_experience" name="fichePoste_experience" rows="5" cols="33" placeholder="Ecrivez ici l'experience demandée.."></textarea>
	</br>

	<label for="fichePoste_entryDate">Date de recrutement</label>
	<input type="date" id="fichePoste_entryDate" name="fichePoste_entryDate"
	{{#if currentDate}}
	value={{currentDate}} min={{currentDate}}
	{{else}}
	value="2022-07-04"
	{{/if}}
	>
	<input type="checkbox" id="fichePoste_entryDate_use" name="fichePoste_entryDate_use">
    <label for="fichePoste_entryDate_use">Utiliser la date de recrutement</label>
	</br>

	<label for="fichePoste_endDate">Date de fin de contrat</label>
	<input type="date" id="fichePoste_endDate" name="fichePoste_endDate"
	{{#if currentDate}}
	value={{currentDate}} min={{currentDate}}
	{{else}}
	value="2022-07-04"
	{{/if}}
	>
	<input type="checkbox" id="fichePoste_endDate_use" name="fichePoste_endDate_use">
    <label for="fichePoste_endDate_use">Utiliser la date de fin de contrat</label>
	</br>

	<label for='fichePoste_localisation'>Localisation de l'emploi</label>
	<input type='text' id='fichePoste_localisation' name='fichePoste_localisation'/>
    </br>

	<label for='fichePoste_destinationService'>Service de destination</label>
	<input type='text' id='fichePoste_destinationService' name='fichePoste_destinationService'/>
    </br>

	<label for="fichePoste_jobDescription">Description de l'emploi</label>
	<textarea id="fichePoste_jobDescription" name="fichePoste_jobDescription" rows="5" cols="33" placeholder="Ecrivez ici la description de l'emploi..." required></textarea>
	</br>

	<label for='fichePoste_compensation'>Rémunération</label>
	<input type='text' id='fichePoste_compensation' name='fichePoste_compensation'/>
    </br>
    </br>

	<p>Questions à poser pour la sélection des candidatures</p>
	</br>

	<label for='fichePoste_question1'>Question 1</label>
	<input type='text' id='fichePoste_question1' name='fichePoste_question1'/>
    </br>

	<label for='fichePoste_question2'>Question 2</label>
	<input type='text' id='fichePoste_question2' name='fichePoste_question2'/>
    </br>

	<label for='fichePoste_question3'>Question 3</label>
	<input type='text' id='fichePoste_question3' name='fichePoste_question3'/>
    </br>

	<label for='fichePoste_question4'>Question 4</label>
	<input type='text' id='fichePoste_question4' name='fichePoste_question4'/>
    </br>

	<label for='fichePoste_question5'>Question 5</label>
	<input type='text' id='fichePoste_question5' name='fichePoste_question5'/>
    </br>

	<label for='fichePoste_urgency'>Type d'emploi</label>
	<select name='fichePoste_urgency' id='fichePoste_urgency'>
		<option value='NON-URGENT'>NON-URGENT</option>
		<option value='PEU-URGENT'>PEU-URGENT</option>
		<option value='URGENT'>URGENT</option>
		<option value='TRES-URGENT'>TRES-URGENT</option>
	</select>
	</br>

	<input type='submit' value='Créer la fiche de poste' />
</form>