
<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10">
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{manager.displayName}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{manager.jobTitle}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{manager.mail}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{manager.businessPhones}}</span>
    </div>
</div>

<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10">
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{user.displayName}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{user.jobTitle}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{user.mail}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{user.businessPhones}}</span>
    </div>
</div>

<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10">
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{directReports.displayName}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{directReports.jobTitle}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{directReports.mail}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{directReports.businessPhones}}</span>
    </div>
</div>